

<section class="bg-light o-hidden pt-5 pb-5" style="
   height:100vh;
   background: url('../assets/img/bg.svg') top right no-repeat, 
   url('../assets/img/bg2.svg') bottom right no-repeat;
   background-size: cover;">
   <div class="container">


      <div class="row mb-4 justify-content-center text-center">
         <div class="lead-custom">Historial de tus citas</div>
      </div>
      <div id="doctors" class="row align-items-center justify-content-center">
         <div class="col-12 col-md-7 mb-4">
            <a routerLink="/agendar-cita-pediatria">
               <div class="card h-100 hover-box-shadow border-none">
                  <div class="card-body text-center">
                    <img style="width:100%;max-width:64px;margin-right:15px" src="https://as2.ftcdn.net/v2/jpg/01/34/29/31/1000_F_134293169_ymHT6Lufl0i94WzyE0NNMyDkiMCH9HWx.jpg" alt="">
                    <h3 class="services-title text-center">Dr. Juan Aliaga</h3>
                    <span style="margin-left:15px">29 de Octubre a las 16:00</span>
                  </div>
               </div>
            </a>
         </div>

         <div class="col-12 col-md-7 mb-4">
            <a routerLink="/agendar-cita-pediatria">
               <div class="card h-100 hover-box-shadow border-none">
                  <div class="card-body text-center">
                        <img style="width:100%;max-width:64px;margin-right:15px" src="https://as1.ftcdn.net/v2/jpg/02/90/56/38/1000_F_290563830_MCl0UobSKqqgV7wE8KeSOsablqJIUNCg.jpg" alt="">
                        <h3 class="services-title text-center">Dr. Enrique Flores</h3>
                        <span style="margin-left:15px">16 de Octubre a las 15:00</span>
                  </div>
               </div>
            </a>
         </div>

        
        <div class="pt-5">
            <a style="color:black" class="text-center" routerLink="/home">
                <p class="text-center">← Volver</p>
            </a>
        </div>
      </div>
   </div>
</section>