<section class="bg-light o-hidden pt-5 pb-5 custom-bg">
   <div class="container">
      <div class="row mb-4 justify-content-center text-center">
         <div class="lead-custom">Hola, selecciona que deseas hacer</div>
      </div>
      <div id="services" class="row align-items-center justify-content-center">
         <div class="col-6 col-lg-3 mb-3 mb-md-4 mb-lg-0">
            <a routerLink="/agendar-cita">
               <div class="card h-100 hover-box-shadow border-none">
                  <div class="d-block bg-gradient rounded-top position-relative">
                     <img class="card-img-top hover-fade-out" src="https://imagescdn.rimac.com/blta1e8fea81865b409/64b55f4372f62b2267e8c80e/home_salud.png?auto=webp&quality=85&width=740" alt="Cremaciones">
                  </div>
                  <div class="card-body">
                     <h3 class="services-title">Agendar cita</h3>
                     <div class="d-flex align-items-center justify-content-end m-0">
                        <span class="select-service-text">Seleccionar</span> 
                        <img style="max-width: 48px;margin-left:12px" src="assets/img/arrow-service.svg">
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-6 col-lg-3 mb-3 mb-md-4 mb-lg-0">
            <a routerLink="/mis-citas">
            <div class="card h-100 hover-box-shadow border-none">
                  <div class="d-block bg-gradient rounded-top position-relative">
                     <img class="card-img-top hover-fade-out" src="https://imagescdn.rimac.com/blt9e1b3b71a4376d6e/64b55f531feb2f993a891802/home_vehicular.png?auto=webp&quality=85&width=740" alt="Servicios Funerarios">
                  </div>
               <div class="card-body">
                     <h3 class="services-title">Mis citas</h3>
                     <div class="d-flex align-items-center justify-content-end m-0">
                        <span class="select-service-text">Seleccionar</span> 
                        <img style="max-width: 48px;margin-left:12px" src="assets/img/arrow-service.svg">
                     </div>
               </div>
            </div>
            </a>
         </div>
      </div>

      <div class="pt-5">
         <a style="color:black" class="text-center" routerLink="/login">
            <p class="text-center">← Cerrar sesión</p>
        </a>
      </div>
   </div>
</section>